body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6; /* Optional for better line spacing */
}

/* Apply "Jost" font family to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
  font-weight: normal; /* or adjust as needed */
}

html {
  scroll-behavior: smooth;
}
