/* Gallery Container */
.gallery-container {
  margin: 20px;
  padding: 20px;
}

/* Section Heading */
.gallery-heading {
  text-align: center;
  font-size: 3rem;
  font-family: "Jost";
  font-weight: normal;
  font-style: normal;
  color: #000;
  margin-bottom: 20px;
}

/* Filter Buttons Section */
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 20px;
  background-color: transparent; /* No background by default */
  color: #3c9d8e;  /* Text color for inactive buttons */
  border: 1px solid #3c9d8e;  /* Border color matching text */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  font-size: 14px;
  border-radius: 5px;
}

/* Active button state */
.filters button.active {
  background-color: #3c9d8e;  /* Active background color */
  color: white;  /* White text for active button */
  font-weight: bold;  /* Optionally bold text */
}

/* Hover effect for inactive buttons */
.filters button:hover {
  background-color: #f1f1f1;  /* Light grey background on hover */
  transform: scale(1.05);  /* Slight zoom effect */
}

/* Focus effect for all buttons */
.filters button:focus {
  outline: none;
  border: 2px solid #2c7f6e;  /* Darker border color for focus state */
}

/* Property Cards Section */
.property-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding-top: 20px;
}

.property-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.property-card:hover {
  transform: translateY(-10px);
}

/* Property Image */
.property-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #ccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .gallery-container {
  margin: 10px;
  padding: 10px;
}
  .filters {
    flex-wrap: wrap;
    justify-content: center;
  }

  .filters button {
    margin: 5px 0;
  }

  .property-cards {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-heading {
  font-size: 2.25rem;
}
}

@media (max-width: 480px) {
  .property-cards {
    grid-template-columns: 1fr;
  }
}
